[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    base.cfg

[versions]
Products.PDBDebugMode = 2.0
Products.PrintingMailHost = 1.1.7
build = 1.2.1
cmarkgfm = 2024.1.14
fancycompleter = 0.9.1
flake8 = 7.0.0
i18ndude = 6.1.0
keyring = 25.1.0
markdown-it-py = 3.0.0
mccabe = 0.7.0
mdurl = 0.1.2
nh3 = 0.2.17
pdbpp = 0.10.3
pkginfo = 1.10.0
plone.recipe.codeanalysis = 3.0.1
pycodestyle = 2.11.1
pyflakes = 3.2.0
pyproject-hooks = 1.0.0
pyrepl = 0.9.0
readme-renderer = 43.0
requests-toolbelt = 1.0.0
rfc3986 = 2.0.0
rich = 13.7.1
testfixtures = 8.1.0
twine = 5.0.0
tzlocal = 5.2
zest.releaser = 9.1.3

# Required by:
# jaraco.context==5.3.0
backports.tarfile = 1.1.0

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.49

# Required by:
# keyring==25.1.0
jaraco.classes = 3.4.0

# Required by:
# keyring==25.1.0
jaraco.context = 5.3.0

# Required by:
# keyring==25.1.0
jaraco.functools = 4.0.0

# Required by:
# jaraco.classes==3.4.0
# jaraco.functools==4.0.0
more-itertools = 10.2.0

# Required by:
# check-manifest==0.49
tomli = 2.0.1

# Required by:
# pdbpp==0.10.3
wmctrl = 0.5
