.portaltype-item {

  h1 {
    font-size: 1.4em;
    margin-bottom: 1em;
    font-weight: 600;
  }


  .item-content {
    border: 1px solid $grey-100;
    border-radius: 5px;
    padding: 3rem 3rem;
    box-shadow: $shadow-md;

    h2 {
      font-size: 1em;
      margin-bottom: 1em;
      font-weight: 600;
    }
  }


  #querynextprev-navigation {
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;

    background-color: $gray-100;
    border-radius: $rounded-2xl;
    box-shadow: $shadow;


    a {
      text-decoration: none;
      color: $grey-700;
      padding: 0.5rem 1rem;
      transition: background-color 0.20s ease-in-out;
      border-radius: $rounded;
      &:hover, &.active, &:focus {
        color: $grey-900;
        background-color: $grey-50;
      }
    }


  }
}
